.vscode/
.env

# virtualenv
env/

# trained model data
checkpoint/

# log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# WordPress dump
wp_dump.xml

# Cleaned titles file
titles.txt